In [22]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv('image_data.csv')

column_names = ['file_path', 'model', 'make', 'year']

default_column_names = [f'{descriptor}' for descriptor in column_names]
data.columns = default_column_names
data

,file_path,model,make,year
0,dataset/toyota camry 1985 exterior/184e96f8fe.jpg,camry,toyota,1985
1,dataset/toyota camry 1985 exterior/d7f22f0f55.jpg,camry,toyota,1985
2,dataset/toyota camry 1985 exterior/efea4bc06a.jpg,camry,toyota,1985
3,dataset/toyota camry 1985 exterior/fda182e016.jpg,camry,toyota,1985
4,dataset/toyota camry 1985 exterior/fcbf1688ca.jpg,camry,toyota,1985
...,...,...,...,...
1308,dataset/Chevrolet Impala 2023 exterior/18b80cf...,Impala,Chevrolet,2023
1309,dataset/Chevrolet Impala 2023 exterior/64f21c4...,Impala,Chevrolet,2023
1310,dataset/Chevrolet Impala 2023 exterior/8efbbdc...,Impala,Chevrolet,2023
1311,dataset/Chevrolet Impala 2023 exterior/d1b7402...,Impala,Chevrolet,2023
1312,dataset/Chevrolet Impala 2023 exterior/df3afb8...,Impala,Chevrolet,2023

In [24]:
paths_list = np.array(data['file_path'].tolist())
new_df = pd.DataFrame(columns=['Target','Random_1','Random_2','Random_3','Random_4','Random_5'])

In [28]:
for path in paths_list:
    random_indices = np.random.choice(len(paths_list), size=5, replace=True)  # Choose 10 random indices without replacement
    random_elements = paths_list[random_indices]
    random_elements = np.insert(random_elements, 0, path)

    new_row = {'Target': random_elements[0], 'Random_1': random_elements[1], 
            'Random_2': random_elements[2], 'Random_3': random_elements[3], 
            'Random_4': random_elements[4], 'Random_5': random_elements[5]}
    new_df = pd.concat([new_df, pd.DataFrame([new_row])], ignore_index=True)

1313

In [26]:
new_df.to_csv('random_selction2.csv', index=False)